<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css"  media="screen and ( min-width:769px )">
    <link rel="stylesheet" href="./static/css/style_sp.css" media="screen and ( max-width:768px )">


    <title>Document</title>
    <script type="text/javascript" src="../static/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    
</head>
<header>
    <!-- <header> -->
        <!-- <div class="header-logo"> -->
            <a class="header-logo" href="/index">
                <img src="./static/img/logotai.png" alt="" style="width: 50%;padding:20px 0 10px 10px;">
            </a>
            <a class="hum_nav">+</a>
        
        <div class="h_globalmenu">
            <div><a class="i_globalmenu" href="/seisaku3">年金</a></div>
        <div><a class="i_globalmenu" href="/seisaku4">社会保険・税金</a></div>
        <div><a class="i_globalmenu" href="/seisaku5">転職</a></div>
        <div><a class="i_globalmenu" href="/tarou">退職太郎の例（25歳）</a></div>
        <div><a class="i_globalmenu" href="/add">みんなの体験掲示板</a></div>
        </div>
        <div class="sp_globalmenu">
            <ul>
                <li><a class="i_globalmenu" href="/seisaku3">年金</a></li>
                <li><a class="i_globalmenu" href="/seisaku4">社会保険・税金</a></li>
                <li><a class="i_globalmenu" href="/seisaku5">転職</a></li>
                <li><a class="i_globalmenu" href="/tarou">退職太郎の例（25歳）</a></li>
                <li><a class="i_globalmenu" href="/add">みんなの体験掲示板</a></li>
            </ul>
        </div>

        <!-- </header> -->
        
</header>

{% block content %}



{% endblock %}
<footer>
    <p class="copyright">Copyright &copy; <img src="./static/img/logo.png" alt="" style="width: 100px;"> all rights reserved.</p>

</footer>

</html>