{% extends "base.html" %}
{% block content %}

<body>
    <div class=i_secbox>
        <a class="i_btn-twitter" href="https://twitter.com/share?url=seisaku5.html&text=やっぱり次の仕事がないまま退職するのは不安？！"
            rel="nofollow" target="_blank">みんなにTwitterでおしえてあげよう</a>

        <h1 class="i_toptxt">やっぱり次の仕事がないと不安だなー<img src="./static/img/question_boy.png" alt="" style="
        width: 50px;
    "></h1>
        <br>
        <h2 id="i_ten1" class="i_sectitle">転職に興味がある方は大手人材紹介サイトに登録してみよう！</h2>
        <ul>
            <li><a class="i_joblink" href="https://next.rikunabi.com/?__m=15929143078265694011816420401784">リクナビNEXT</li>
            <li><a class="i_joblink" href="https://tenshoku.mynavi.jp/">マイナビ転職</li>
            <li><a class="i_joblink" href="https://doda.jp/">DODA</li>
        </ul>
        <br>
        <h1 class="i_toptxt">でも、スキルを身につけてから転職したい気持ちもあるな<img src="./static/img/question_boy.png" alt="" style="
        width: 50px;
    "></h1>
        <br>
        <h2 id="i_ten2" class="i_sectitle">そんなときは転職に役立つ職業訓練の制度があります！</h2>
        <p class="i_sectxt">職業訓練とは、お仕事に必要な知識や技能を身につけるための教育です。期間は3ヶ月~1年ほどが一般的です。</p>
        <br>
        <h2 class="i_sectitle">職業訓練を受けるまでの流れ
        </h2>
        <p class="i_sectxt">①ハローワークで職員と相談 </p>
        <img src="./static/img/yajirushi.png" alt="" style="width: 50px;">
        <p class="i_sectxt">②どのコースにするか検討＆施設見学 </p>
        <img src="./static/img/yajirushi.png" alt="" style="width: 50px;">
        <p class="i_sectxt">③ハローワークへ申し込み </p>
        <img src="./static/img/yajirushi.png" alt="" style="width: 50px;">
        <p class="i_sectxt">④選考試験を受ける </p>
        <img src="./static/img/yajirushi.png" alt="" style="width: 50px;">
        <p class="i_sectxt">→合格者が定員より多い場合は抽選 </p>
        <img src="./static/img/yajirushi.png" alt="" style="width: 50px;">
        <p class="i_sectxt">⑤合格手続きをする </p>
        <img src="./static/img/yajirushi.png" alt="" style="width: 50px;">
        <p class="i_sectxt">⑥訓練校へ入学</p>
        <ul class="i_menubar">
            <li><a class="i_menucontents" href="#i_ten1">転職サイト</a></li>
            <li><a class="i_menucontents" href="#i_ten2">職業訓練の流れ</a></li>
            
        </ul>

        <button><a href="/index">topページに戻る</a></button>

    </div>
</body>


{% endblock %}