{% extends "base.html" %}
{% block content %}

<h1 class="tarou-design">退職太郎（25歳）の例</h1>
<br>
<br>

<body class="tarou-body">
<ul class="flow">
    <li>
       <dl>
          <dt><span class="icon">STEP.01</span>転出届をもらう</dt>
          <dd>転居する方は必ず管轄の役所に行って転出届をもらう必要があります！</dd>
      </dl>
   </li>

   <li>
      <dl>
         <dt><span class="icon">STEP.02</span>転入届を出す</dt>
         <dd>STEP1で手に入れた転出届を持ち新しい役所へ提出します。
            <br>この際に前の会社から喪失証明書も貰っていたら、ついでに国保と国民年金への切り替えも
            <br>行うとGood!</dd>
     </dl>
  </li>

  <li>
   <dl>
      <dt><span class="icon">STEP.03</span>失業保険などの申請</dt>
      <dd>
         会社より離職票などの書類が届きます。
         <br>※離職票の到着は退職日からおおよそ1ヶ月程度で届くので注意！
         <br>書類を持って役所とハローワークに行き年金免除や失業保険の申請を行います。
      </dd>
  </dl>
</li>

<li>
   <dl>
      <dt><span class="icon">STEP.04</span>住民税などの支払い</dt>
      <dd>
         おおよそ働き始めてから2年目以降は住民税がかかります。
         <br>住民税は前年の所得から算出されるため無職には厳しい....
         <br>その場合は分割の対応もしてくれる場合があるので役所に相談しよう！
      </dd>
  </dl>
</li>

<li>
   <dl>
      <dt><span class="icon">STEP.05</span>転職活動！</dt>
      <dd>
         次の新しいステップへ向けて転職活動を始める！
         <br>スキルを付けたい方は職業訓練などもおすすめです！
         <br>まずは転職サイトに登録してみよう！
      </dd>
  </dl>
</li>

</ul>
<br>
<br>
<br>
<button><a href="/index">topページに戻る</a></button>

</body>


{% endblock %}