<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
    <script type="text/javascript" src="../static/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
</head>
<body class="top-body">
    <header>
        <div class="header-logo"><a href="/index"><img src="./static/img/logotai.png" alt="" style="width: 180px;padding-left: 10px;"></a></div>
    </header>
    <div class = "full-page">
        <h1 class="title">退職するか、しないか、今決めろ</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    
    <p class="title2"><a href="/index">START</a></p>

</body>
</html>